version: '3.8'

services:
  app:
    image: ghcr.io/dimasu21/netra:latest
    container_name: netra_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      # Override DB Path for persistence in volume
      - DATABASE_URI=sqlite:////app/data/netra.db
    volumes:
      # Persist Database and Uploads
      - ./data:/app/data
      - ./static:/app/static

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
